<app-auth-form-shell heading="Login" [links]="links">
  <form class="py-16" fxLayout="column" fxLayoutGap="16px" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-form-field>
      <input 
        matInput 
        type="email" 
        placeholder="Email" 
        name="email" 
        ngModel
        required
        email
        #emailInput="ngModel">
        <mat-error *ngIf="emailInput.hasError('email')">Please enter a valid email address.</mat-error>
        <mat-error *ngIf="!emailInput.hasError('email')">An email address is required.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input 
        matInput 
        type="password" 
        placeholder="Password" 
        name="password" 
        ngModel
        required>
        <mat-error>A password is required.</mat-error>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid" fxLayout="column" fxLayoutAlign="center">
      <span *ngIf="!atWork">Login</span>
      <mat-spinner *ngIf="atWork" diameter="20" color="accent" style="display: inline-block;"></mat-spinner>
    </button>
  </form>
</app-auth-form-shell>