// Pre-loader styling - shows during initial load of app
.pre-loader-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pre-loader {
    border: 8px solid rgb(245, 245, 245);
    border-top: 8px solid rgb(215, 215, 215);
    border-radius: 50%;
    width: 88px;
    height: 88px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }