<section>
  <mat-card [ngSwitch]="view">
    <app-update-profile *ngSwitchCase="'updateProfile'" [user]="user" (updatedUser)="onUserUpdate($event)"></app-update-profile>
    <app-change-email *ngSwitchCase="'changeEmail'" [oldEmail]="user.email" (newEmail)="onEmailChange($event)"></app-change-email>
    <app-change-password *ngSwitchCase="'changePassword'" (credentials)="onPasswordChange($event)"></app-change-password>
    <div *ngSwitchDefault fxLayout.gt-xs="row" fxLayout="column" fxLayoutGap="16px">
      <app-profile-image></app-profile-image>
      <div>
        <app-profile-info [userInfo]="user"></app-profile-info>
        <div class="user-profile-buttons">
          <button mat-stroked-button (click)="toggleView('updateProfile')">Update</button>
          <button mat-stroked-button (click)="toggleView('changeEmail')">Change email</button>
          <button mat-stroked-button (click)="toggleView('changePassword')">Change password</button>
        </div>
      </div>
    </div>
  </mat-card>
</section>