<form class="py-16" fxLayout="column" fxLayoutGap="16px" #f="ngForm" (ngSubmit)="onSubmit(f)">
  <mat-form-field>
    <input 
      matInput 
      type="password" 
      placeholder="Password" 
      name="password" 
      ngModel
      required
      minlength="8"
      #passwordInput="ngModel">
      <mat-hint>Minimum 8 characters</mat-hint>
      <mat-hint align="end">{{ passwordInput.value?.length }}/ 8</mat-hint>
      <mat-error *ngIf="passwordInput.hasError('minlength')">Password requires minimum of 8 characters.</mat-error>
      <mat-error *ngIf="!passwordInput.hasError('minlength')">A password is required.</mat-error>
  </mat-form-field>
  <app-loading-button type="submit" color="primary" [disabled]="f.invalid" [state]="atWork">Reset</app-loading-button>
</form>