<app-auth-form-shell heading="Forgot password">
  <form *ngIf="!isSubmitted" class="py-16" fxLayout="column" fxLayoutGap="16px" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-form-field>
      <input 
        matInput 
        type="email" 
        placeholder="Email" 
        name="email" 
        ngModel
        required
        email
        #emailInput="ngModel">
        <mat-error *ngIf="emailInput.hasError('email')">Please enter a valid email address.</mat-error>
        <mat-error *ngIf="!emailInput.hasError('email')">An email address is required.</mat-error>
    </mat-form-field>
    <app-loading-button type="submit" color="primary" [disabled]="f.invalid" [state]="atWork">Reset</app-loading-button>
  </form>
  <p *ngIf="err.show" class="text-error text-centered">{{ err.message }}</p>
  <div *ngIf="isSubmitted" class="py-16">
    <p class="mat-h3">
      An email with a link to reset your password was sent. Please check your inbox.
    </p>
    <button mat-stroked-button (click)="sendAgain()">Send again</button>
  </div>
</app-auth-form-shell>
