/* You can add global styles to this file, and also import other style files */

// Global resets
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
button { text-transform: uppercase }
.mat-spinner circle {
    stroke: white;
}

section, footer, .container {
    padding: 16px;
    background-color: #fafafa;
}

@import './styles/utilities';
@import './styles/pre-loader';