/* You can add global styles to this file, and also import other style files */

// Global resets
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
button { text-transform: uppercase }

// Global utils
main, section, footer, .container {
    padding: 16px;
    background-color: #fafafa;
}

.h-100 {
    height: 100%;
}

.w-468 {
    width: 468px;
}

.py-16 {
    padding-top: 16px;
    padding-bottom: 16px;
}

.pt-16 {
    padding-top: 16px;
}

.text-centered {
    text-align: center;
}