<mat-toolbar color="primary" class="mat-typography mat-elevation-z2">
  <a routerLink="/" class="brand-link">
    <div fxFlex="200px" fxHide.xs>Brand</div>
    <div fxHide.gt-xs>B</div>
  </a>
  <div fxHide.gt-xs fxFlex="grow">
    <button type="menu" mat-icon-button (click)="onMenuClick()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <nav fxHide.xs class="nav-top" fxFlex="grow" fxLayout>
    <ul role="navigation" fxLayout fxLayoutGap="16px">
      <li *ngFor="let item of mainMenu"><a [routerLink]=item.route>{{ item.navTitle }}</a></li>
    </ul>
  </nav>
  <div class="tools">
    <a mat-icon-button routerLink="/notifications">
      <mat-icon [matBadge]="counter <= 0 ? null : counter" matBadgeColor="accent" matBadgeSize="medium">notification_important</mat-icon>
    </a>
    <a mat-icon-button routerLink="/user">
      <mat-icon>account_box</mat-icon>
    </a>
    <a mat-icon-button routerLink="/auth/logout">
      <mat-icon>logout</mat-icon>
    </a>
  </div>
</mat-toolbar>